@font-face {
    font-family: 'FTPSans';
    src: url('/fonts/FTPSans-Regular.woff') format('woff'),
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: news-gothic-std, "Arial Narrow", sans-serif;
    background-image: url(/img/Texture1.png);
}

.content__subtitle {
    font-style: italic;
}

.content__title {
    font-size: 8vw;
    font-family: 'FTPsans';
}

.content__credits,
.intro {
    font-family: 'FTPsans';
}

.content__credits {
    font-size: 1.25rem;
}